:root {
    --font-roboto: "Roboto", sans-serif;
    --font-krabuler: "krabuler", sans-serif;
    --font-comfortaa: "Comfortaa Bold", sans-serif;
    --color-premier: #AD956B;
    --color-second: #E1A624;
    --color-troisieme: #317AC1;
    --color-quatrieme: #384454;
    --color-cinquieme: #1D3557;
    --padding-default: 10px;
    --box-shadow: 0 0 6px 5px grey;
    --margin-top: 25px;
    --margin: 10px;
    --padding: 0px;
    --border-radius: 10px;
    --transition: 1.5s;
    --background: #fff;
    --cardShadow: rgba(32, 33, 37, .1);
    --cardShadowHover: rgba(32, 33, 37, .06);
    --cardShadowActive: rgba(32, 33, 37, .55);
    --cardBorder: #dbdce0;
    --cardBorderActive: #1a73e8;
    --textColor: #202125;
    --linkColor: #1967d2;
    --ratingColor: #faab00;
    --btn-primary-color: #645bff;
    --btn-secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    --background: #3c4043;
    --cardShadow: rgba(0, 0, 0, .28);
    --cardShadowHover: rgba(0, 0, 0, .16);
    --cardShadowActive: rgba(0, 0, 0, .55);
    --cardBorder: #202125;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #8ab4f8;
}


/* Règles pour tout le css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

/* Début Nav Bar */
/* body#index {
    background: url("../img/course.png") no-repeat;
    background-size: cover;
    height: 10vh;
    background-position: left;
} */
.course {
    width: 100%;
    position: relative;
    z-index: -1;
}

.header {
    position: sticky;
    width: 100%;
    background-color: #1D3557;
}

.header ul {
    text-align: center;
}

.header li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.header ul li a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-family: var(--font-roboto);
    letter-spacing: 2px;
    font-weight: 100;
    padding: 41.5px;
    transition: all ease 0.5s;
}

.header ul li a:hover {
    background-color: var(--color-second);
}

.logomas {
    height: 100px;
    display: block;
}

.lien-logomas {
    padding: 0 !important;
}

.log {
    display: inline-block;
    background-color: var(--color-premier);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: initial;
    font-weight: 100;
}

.sign {
    top: 0;
    left: 0;
}

#burger-menu {
    display: none;
}


.title-principal {
    text-align: center;
    color: white;
    background-color: var(--color-second);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    margin-top: -90px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.searchbar-title {
    text-align: left;
    padding: 25px;
    margin: 35px;
    text-decoration: underline var(--color-troisieme);
}



/* h1:hover {
    color: var(--color-second);
    box-shadow: var(--box-shadow);
    cursor: grab;
    font-size: large;
    transition: var(--transition)
} */

h2 {
    color: var(--color-second);
    text-align: center;
    font-weight: 100;
}


/* Fin Nav Bar */

/* Responsive */
@media screen and (max-width: 768px) {
    #menu {
        display: none;
    }

    .logomas {
        display: none;
    }

    #burger-menu {
        display: block;
    }

    #menu.visible {
        display: block;
    }

    #menu.visible li {
        display: block;
    }
}

/* Fin Responsive */

/* Début searchbar*/
.searchbar {
    display: block;
}

.barre {
    display: flex;
    margin: 0 auto;
    width: 60%;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left: 5px;
    max-width: 60%;
    background-color: #1D3557;
    opacity: 0.9;
    color: #ffffff;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    border-radius: 25px;
    padding: 25px;
}

.barre:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.barre:hover {
    outline: 1px solid rgb(255, 255, 255);
}

/* Fin search bar */

/* Début section DOGHEAD */
.doghead {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 80px;
}

.reservation {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;

}

button {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--btn-secondary-color);
    padding: 1em 1.8em;
    background: var(--color-premier);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

/* fin DOGHEAD */
/* début section avis */

.avis-title {
    color: var(--color-troisieme);
    text-decoration: underline var(--color-second);
    text-align: left;
    padding: 25px;
    margin-left: 35px;
}

.avis-rubrique {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card {
    width: 350px;
    min-height: 155px;
    background: rgba(0, 0, 0, .55);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 25px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: .5s;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

.card:hover {
    transform: translate(-2px, -4px);
    box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.card:active {
    transform: translate(-2px, -4px);
    border: 2px solid var(--cardBorderActive);
    box-shadow: 4px 4px 0 var(--cardShadowActive);
}

/* .card .client, */
.card .title,
.card .description {
    margin-bottom: 0.7em;
    cursor: crosshair;
    user-select: none;
}

.client {
    height: 200px;
    margin: 0 auto;
}

.card>.title {
    margin-top: 1.5em;
    font-weight: bold;
}

.card>.description {
    line-height: 1.5em;
    min-height: 6em;
}

.card>.client {
    font-size: 3em;
    margin-bottom: .2em;
}

.card>.rating {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    color: var(--ratingColor);
    font-weight: bold;
    position: relative;
    width: max-content;
}

.card>.rating:before {
    content: "☆☆☆☆☆";
}

.card>.rating:after {
    content: "★★★★★";
    position: absolute;
    left: 0;
    z-index: 0;
    width: calc(var(--rating) * 1%);
    overflow: hidden;
}

.card>.link {
    margin-bottom: 1rem;
    color: var(--linkColor);
    font-size: .8em;
    font-weight: 600;
}

/* Optional ~ Link the whole card */
.card>.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card>.link:after {
    content: "↗";
    display: inline-block;
    margin-left: .3em;
    transition: transform .3s ease-in-out;
}

.card:hover>.link:after {
    transform: translate(.2em, -.2em);
}

/* fin section avis */
/* Début section Compteur */

.sectionNumbers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 25px;
}

.toutou {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.sectionNumbers {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .sectionNumbers {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.sectionNumbers__item {
    padding: 25px;
    font-size: 21px;
    min-width: 28px;
}

.sectionNumbers__item p {
    margin-top: 1rem;
}

.sectionNumbers__number {
    font-size: 61px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: rgb(244, 158, 47);
}

.sectionNumbers p {
    font-family: Georgia, serif;
    font-size: 37;
}

/* story*/
.histoire {
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 25px;
    max-width: 65%;
    margin-bottom: 65px;
}

.histoire p {
    margin-right: 40px;
    text-align: justify;
}

.bigflo {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

/* Début Footer */
footer {
    background-color: rgb(4, 4, 100);
    color: white;
    text-align: center;
    margin-bottom: 0;
    display: block;
    clear: both;
}

/* Fin Footer */

/* Page Service */
.service {
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

/* Style bouton */

.button-reservation {
    display: inline-block;
    background-color: var(--color-second);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: initial;
    font-weight: 100;
}

/* Fin style bouton */

/* Canicross */
.service-title {
    color: white;
    background-color: var(--color-troisieme);
    width: 90%;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: large;
    font-weight: 500;
    margin-top: 35px;
    clear: both;
}

.service-title2 {
    text-align: left;
    margin: 25px;
    border-bottom: 2px solid var(--color-troisieme);
    padding-right: 200px;
    clear: both;
    color: var(--color-second);
}

.service-p {
    text-align: left;
    float: left;
    width: 60%;
    padding-bottom: 15px;
    display: block;
    text-align: justify;
}

.service-img {
    width: 35%;
    height: 35%;
    padding: 15px;
    margin: 10px;
    text-align: right;
    display: block;
    float: right;
}




/* Fin canicross */

/* Fin Service */

/* Début A propos */

.idee-title {
    text-align: left;
    margin: 25px;
    border-bottom: 2px solid var(--color-troisieme);
    padding-right: 200px;
    clear: both;
    color: var(--color-second);
}

.content-title {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--color-cinquieme);
}

.content-wrapper,
.content-olivia,
.content-aurel,
.content-hadrien,
.content-nicolas {
    display: flex;
    flex-wrap: wrap;
    max-width: 98%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.text-content {
    width: 70%;
    padding: 10px;
    text-align: justify;
    padding: 40px;
}

.storytelling {
    max-width: 30%;
    border-radius: 10px;
}

.storytelling_2 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .text-content {
        width: 100%;
    }

    .storytelling {
        max-width: 70%;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.valeurs {
    text-align: center;
}

.valeurs h2 {
    color: var(--color-cinquieme);
}

.valeurs p {
    display: inline-block;
    color: var(--color-second);
    padding: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.test {
    text-align: center;
    display: flex;
}

.img-container {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

.img-test {
    display: block;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
    border-bottom: #000000;
}

.test-bouton {
    display: block;
    text-align: center;
    border-radius: 30%;
}

.mention-legales {
    margin:40px;
    padding: 20px;
    font-style: italic;
    font-size: smaller;
}



/* Fin Apropos */

/* Début réservation*/
.modal {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200%;
    height: fit-content;
    background: white;
    box-shadow: 0px 187px 75px rgba(94, 58, 58, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 550px;
    float: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.taille-chien {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    font-family: arial;
    font-weight: bold;
}

.radio-inputs>* {
    margin: 6px;
}

.radio-input:checked+.radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.radio-input:checked+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #1D3557;
    border-color: #1D3557;
}

.radio-input:checked+.radio-tile .radio-icon svg {
    fill: #1D3557;
}

.radio-input:checked+.radio-tile .radio-label {
    color: #1D3557;
}

.radio-input:focus+.radio-tile {
    border-color: #1D3557;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #2260ff;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.separator {
    width: calc(100% - 20px);

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #2b3043;
    margin: 0 10px;
}

.separator>p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    margin: 20px;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #959090;
    margin: auto;
}

.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 100%;
}

.input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.purchase--btn {


    margin-left: auto;
    margin-right: auto;
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: #1D3557;
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    text-align: center;
}

.purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_field[type=number] {
    -moz-appearance: textfield;
}

.radio-container {

    max-width: 300px;

}

.radio-wrapper {
    margin-bottom: 20px;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 600;
}

/* Fin réservation */
/* Début contact */

.contact-info {
    margin: 50px auto;
    max-width: 800px;
}

.contact-form {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.contact-form label {
    color: black;
}

.contact-form .heading {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
    width: 200px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #1D3557;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
    background-color: #1D3557;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Style pour la section FAQ */
.FAQ {
    margin: 50px auto;
    max-width: 800px;
}

.FAQ h2 {
    margin-bottom: 50px auto;
    padding-bottom: 20px;
}



/* Style pour les titres des questions */
.question h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Style pour les réponses des questions */
.question p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
}

/* fin contact */