:root {
    --font-roboto: "Roboto", sans-serif;
    --font-krabuler: "krabuler", sans-serif;
    --font-comfortaa: "Comfortaa Bold", sans-serif;
    --color-premier: #AD956B;
    --color-second: #E1A624;
    --color-troisieme: #317AC1;
    --color-quatrieme: #384454;
    --color-cinquieme: #1D3557;
    --padding-default: 10px;
    --box-shadow: 0 0 6px 5px grey;
    --margin-top: 25px;
    --margin: 10px;
    --padding: 0px;
    --border-radius: 10px;
    --transition: 1.5s;
    --background: ;
}

/* Responsive */
@media screen and (max-width: 1400px) {
    .header {
        display: none;
    }
}

/* Fin Responsive */
/* Règles pour tout le css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

/* Début Nav Bar */
body {
    background: url("../img/course.png") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left;
}

.header {
    position: sticky;
    width: 100%;
    background-color: rgba(61, 33, 182, 0.705);
}

.header ul {
    text-align: center;
}

.header li {
    list-style: none;
    display: inline-block;
}

.header ul li a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-family: var(--font-roboto);
    letter-spacing: 2px;
    font-weight: 100;
    padding: 41.5px;
    transition: all ease 0.5s;
}

.header ul li a:hover {
    background-color: var(--color-second);
}

.logomas {
    height: 100px;
    position: left;
    position: absolute;
}

.log {
    top: 0;
}

.sign {
    top: 0;
    left: 0;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.burger-menu:hover {
    color: var(--secondary-color);
    transition: var(--transition);
}

/* Fin Nav Bar */

/* Début searchbar*/
.searchbar {
    display: block;
}

.barre {
    display: flex;
    margin: 0 auto;
    width: 60%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 5px;
    max-width: 60%;
    background-color: var(--color-second);
    opacity: 0.8;
    color: #242424;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    border-radius: 20px;
}

.barre:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.barre:hover {
    outline: 1px solid lightgrey;
}

/* Fin search bar */

/* Début section DOGHEAD */
.doghead {
    align-items: center;
    display: flex;
    border: 1px solid red;
    justify-content: space-evenly;
}
.reservation {
    width: 150px;
    height: 150px;
    
}

button {
    --btn-primary-color: #645bff;
    --btn-secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--btn-secondary-color);
    padding: 1em 1.8em;
    background: var(--color-premier);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}


/* Début Footer */
footer {
    background-color: rgb(4, 4, 87);
    color: white;
    text-align: center;
}