/* PAGE D’ACCUEIL

Attention : charte graphique non intégrée au code

Banner ok */


.login {
    --primary-color: var(--color-troisieme);
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}


:root {
    --font-krabuler: "krabuler", sans-serif;
    --font-comfortaa: "Comfortaa Bold", sans-serif;
    --color-premier: #AD956B;
    --color-second: #E1A624;
    --color-troisieme: #317AC1;
    --color-quatrieme: #384454;
    --color-cinquieme: #1D3557;
    --padding-default: 10px;
    --box-shadow: 0 0 6px 5px grey;
    --margin-top: 25px;
    --margin: 10px;
    --padding: 10px;
    --border-radius: 10px;
    --transition: 1.5s;
}


/* Bouton (se connecter/s’inscrire) */
button {
    --primary-color: var(--color-troisieme);
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

/* H1: Sport et bien-être pour votre chien !  */
h1 {
    color: var(--color-premier)
}

h1:hover {
    color: var(--color-second);
    box-shadow: var(--box-shadow);
    cursor: crosshair;
    font-size: large;
    transition: var(--transition)
}

nav a {
    color: var(--color-premier);
}

nav a:hover {
    border-bottom: 1px solid var(--color-quatrieme);
    color: var(--color-troisieme);
    transition: var(--transition);
}

    /* H2 :  Votre chien mérite le meilleur! */
    .h2 {
        background-color: var(--color-premier);
        padding: var(--padding-default);
        color: black;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        margin: var(--margin);
    }

    .h2{
    text-align: center;
    margin-bottom: var(--margin-top);
    line-height: 15px;
}

/* Barre de recherche */

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* IMG-BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

    .banner-img {
        width: 100%;
        height: 100%;
    }


        /* Mon chien/Réservation - 	CTA */
        .cta {
            position: relative;
            margin: auto;
            padding: 12px 18px;
            transition: all 0.2s ease;
            border: none;
            background: none;
        }

        .cta:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 50px;
            background: #b1dae7;
            width: 45px;
            height: 45px;
            transition: all 0.3s ease;
        }

        .cta span {
            position: relative;
            font-family: "Ubuntu", sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #234567;
        }

        .cta svg {
            position: relative;
            top: 0;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #234567;
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }

        .cta:hover:before {
            width: 100%;
            background: #b1dae7;
        }

        .cta:hover svg {
            transform: translateX(0);
        }

        .cta:active {
            transform: scale(0.95);
        }

        /* Mon chien/Réservation - 	ICONES */
        .icon {
            width: 100px;
            height: 100px;
        }

        .icon-card {
            /* background-color: ; */
            border-radius: 10px;
            box-shadow: 0 0 6px 5px grey;
            margin: 10px;
            padding-bottom: 10px;
            transition: 1.5s;
        }

        .icon-card:hover {
            transition: 1.5s;
            transform: rotate(360deg);
        }

        /* H2 : REX  */
        .h2 {
            background-color: var(--color-premier);
            padding: var(--padding-default);
            color: black;
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
            margin: var(--margin);
            border-bottom: var(--color-second);
        }

        .h2 {
            text-align: center;
            margin-bottom: var(--margin-top);
            line-height: 15px;
        }

        /* REX */
        .avis {
            background-color: var(--color-premier);
            padding: var(--padding-default);
            margin-top: var(--margin-top);
            box-shadow: var(--box-shadow);
            margin: var(--margin);
        }

        .avis-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .avis-title {
            text-align: center;
            margin-bottom: var(--margin);
        }

        .avis-card {
            background-color: var(--color-cinquieme);
            text-align: center;
            width: 300px;
            padding: var(--padding);
            border-radius: var(--border-radius);
            margin: var(--margin);
            box-shadow: var(--box-shadow);
            transform-origin: center;
            transform: perspective(500px) rotateY(20deg);
            transition: var(--transition);
            overflow: hidden;
        }

        .avis-pic {
            width: 90%;
            height: 90%;
            border-radius: var(--border-radius);
        }


        /* IMG-REX/  */
        .rex {
            width: 25%;
            height: auto;
        }

        /* IMG-ASSURANCE / “course”, “chien_maitre” */
        .assurance {
            display: flex;
        }

        .image-assurance1,
        .image-assurance2 {
            width: 50%;
            height: auto;
        }


        /* Qui-sommes-nous? “storytelling” */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .title {
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }

        .text {
            width: 60%;
        }

        .image {
            width: 40%;
            height: auto;
        }

        /* FOOTER */
        footer {
            /* background-color: #;
        color: #; */
            padding: 20px;
            text-align: center;
        }









        /* PAGE SERVICES

IMG-BANNER2 */
        .banner {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            max-height: 100%;
        }

            .banner-img {
                width: 100%;
                height: 100%;
            }

                /* EDUCATEUR */
                .educateur {
                    /* border: 1px dotted red; */
                    max-width: 25%;
                    margin: auto;
                    text-align: leftr;
                    margin-top: var(--margin-top);
                }

                .educateur-header {
                    margin-bottom: var(--margin);
                    font-weight: 900;
                    font-family: var(--font-roboto);
                }

                .educateur-wrapper {
                    padding: var(--padding-default);
                }

                /* BOUTON (CTA) */