<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
   <!-- Style CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('send_css', path='style.css') }}">
   <link type="image/png" sizes="96x96" rel="icon" href="../static/img/favicon.png">
   <title>Médor au sport</title>
   <!-- Favicon -->

</head>

<header>
   <!-- #debut barre de bav  -->
   <nav>
      <ul>
         <li><a href="#">Accueil</a></li>
         <li><a href="services">Services</a></li>
         <li><a href="apropos">A propos</a></li>
         <li><a href="reservation">Réservation</a></li>
         <li><a href="contact">Contact</a></li>
         <li><a href="connexion">Connexion</a></li>
      </ul>
   </nav>
</header>

<body>
   <!-- BLOC PRESENTATION -->
   <h1>Médor au sport</h1>
   <h2>Qui sommes-nous ?</h2>
   <p>Je suis passionnée par les animaux, en particulier les chiens. Lors de mes échanges avec mon entourage, j'ai
      remarqué que beaucoup de propriétaires de chiens souhaitent que leur compagnon soit plus actif et en meilleure
      forme physique. C'est alors que j'ai eu cette idée : créer un site web qui mettrait en relation les propriétaires
      de chiens avec des éducateurs canins expérimentés pratiquant le canicross.</p>
   <p>Le canicross consiste à courir avec son chien attaché à un harnais spécial, ce qui est une activité idéale pour
      les propriétaires soucieux de la santé et du bi/en-être de leur animal. “Médor au sport” permet aux propriétaires
      de trouver facilement un éducateur dans leur région.</p>
   <p>Que vous soyez propriétaires de chiens ou éducateur canin, partagez votre passion pour le chien en alliant sport
      et bien être canin à travers le canicross.</p>

   <!-- BLOC AVIS -->
   <section class="avis">
      <div class="avis">
         <p>"Eric a promené Max 2 durant un mois et tout s'est très bien passé."</p>
      </div>
      <div class="avis">
         <p>"Le processus de recherche sur ce site web était simple et rapide, et je suis ravi d'avoir trouvé un
            éducateur canin exceptionnel grâce à lui."</p>
      </div>
      <div class="avis">
         <p>"L'expérience d'utilisation de ce site web pour trouver un maître canin a été incroyablement fluide et
            agréable, et les maîtres canins disponibles sont tous très compétents."</p>
      </div>
      <div class="avis">
         <p>"Parfait ! Je recommande à 100%."</p>
      </div>
   </section>>

   <footer>
      <p>Copyright Médor au sport</p>
   </footer>
</body>

<!-- Bouton "Remonter en haut de la page / retour au menu") -->
<div id="scroll_to_top">
   <a href="#top"><img src="../static/img/gotop.png" alt="Retourner en haut" /></a>
</div>

</html>