<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('send_css', path='apropos.css') }}">
    <link type="image/png" sizes="96x96" rel="icon" href="../static/img/favicon.png">
    <title>A propos</title>
</head>

<header>
    <h1>Médor au sport</h1>
    <!-- #debut barre de bav  -->
    <nav>
        <ul>
            <li><a href="index">Accueil</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="apropos">A propos</a></li>
            <li><a href="reservation">Réservation</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="connexion">Connexion</a></li>
        </ul>
    </nav>
</header>

<body>

    <!-- BLOC VALEURS -->
    <section class="valeurs">
        <div class="activites">
            <img src="../static/img/activites.png" alt="Activités" class="valeurs-img">
        </div>
        <div class="bien_etre">
            <img src="../static/img/bien_etre.png" alt="Bien être" class="valeurs-img">
        </div>
        <div class="liberte">
            <img src="../static/img/liberte.png" alt="Liberté" class="valeurs-img">
        </div>
    </section>

    <!-- BLOC STORY -->
    <section class=story>
        <div class="story-text">
            <h3>Notre histoire</h3>
            <p>"Medor Au Sport" est né de l'envie d'une jeune lyonnaise souhaitant permettre à son chien de bénéficier
                de plus de temps à courrir & à se dépenser malgré son emploi du temps chargé.
                S'entourant d'une équipe de bras cass... professionnels dévoués (et fortement rémunérés), le projet fut
                lancé.
                Notre vision est d'offrir aux chiens de Lyon la liberté de courrir plus et plus souvent, accompagné de
                professionnels de l'education canine. Ayant conscience du besoin de confiance nécessaire pour confier
                son compagnon de vie, nos certifications sont pensées pour vous permettre de vous consacrer à votre
                quotidien en toute tranquillité pendant que votre toutou se dépense sans compter.
            </p>
                </br>
            <p>
                Chapitre 2 "Medor Au Sport" est né de l'envie d'une jeune lyonnaise souhaitant permettre à son chien de bénéficier
                de plus de temps à courrir & à se dépenser malgré son emploi du temps chargé.
                S'entourant d'une équipe de bras cass... professionnels dévoués (et fortement rémunérés), le projet fut
                lancé.
                Notre vision est d'offrir aux chiens de Lyon la liberté de courrir plus et plus souvent, accompagné de
                professionnels de l'education canine. Ayant conscience du besoin de confiance nécessaire pour confier
                son compagnon de vie, nos certifications sont pensées pour vous permettre de vous consacrer à votre
                quotidien en toute tranquillité pendant que votre toutou se dépense sans compter.
            </p>
        </div>
        <div class="story-img">
            <img src="../static/img/story.png" alt="Notre histoire" class="story-img">
        </div>
    </section>

    <!-- NOTRE EQUIPE DE CHOCAPIC -->
    <section class="team">
        <div class="team">
            <h3>Olivia</h3>
            <h4>Founder & Project manager</h4>
            <img src="../static/img/olivia.jpg" alt="Olivia" class="team-img">
            <p>Blablabla aime les chiens blablabla lyonnaise blablabla croix roussienne blablabla son idée</p>
        </div>
        <div class="team">
            <h3>Aurélien</h3>
            <h4>Front developper</h4>
            <img src="../static/img/aurel.jpg" alt="Aurélien" class="team-img">
            <p>Blablabla blond blablabla villefranche blablabla payé au smic blablabla sncf</p>
        </div>
        <div class="team">
            <h3>Anne-Sophie</h3>
            <h4>Back developper</h4>
            <img src="../static/img/anneso.jpg" alt="Anne-Sophie" class="team-img">
            <p>Blablabla aime les chiens blablabla pas assez payée blablabla deux enfants blablabla préfère la bretagne
            </p>
        </div>
        <div class="team">
            <h3>Hadrien</h3>
            <h4>Front developper</h4>
            <img src="../static/img/hadri.jpg" alt="Hadrien" class="team-img">
            <p>Blablabla achète logement en cash blablabla trafic d'organe blablabla fat beubar blablabla paye ta bière
            </p>
        </div>
        <div class="team">
            <h3>Pierre</h3>
            <h4>UX / UI Designer</h4>
            <img src="../static/img/pierre.jpg" alt="Pierre" class="team-img">
            <p>Blablabla sport blablabla home-musculation DIY blablabla skyrim blablabla les dés sont pipés</p>
        </div>
        <div class="team">
            <h3>Shailandra</h3>
            <h4>Back developper</h4>
            <img src="../static/img/shai.jpg" alt="Shailandra" class="team-img">
            <p>Blablabla tuteur relou blablabla tout le temps faim blablabla on avait dit 9h30 blablabla ou ça une
                tireuse</p>
        </div>
        <div class="team">
            <h3>Nicolas</h3>
            <h4>Architect & Mascotte</h4>
            <img src="../static/img/nico.jpg" alt="Nicolas" class="team-img">
            <p>Blablabla blond blablabla revoir mes honoraires blablabla touche pas à ma tireuse blablabla les chiens ça
                craint </p>
        </div>
    </section>

    <!-- Bouton "Remonter en haut de la page / retour au menu") -->
    <div id="scroll_to_top">
        <a href="#top"><img src="../static/img/gotop.png" alt="Retourner en haut" /></a>
    </div>

</body>
<!-- javascript -->

</html>









<!-- css dégueu -->
<!-- titre -->
<!-- css -->
<!-- <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: lightblue;
            color: black;
        }

        .valeurs {
            background-color: red;
            //opacity: 0.1;
            height: 500px;
            color: white;
            display: block;
            //margin: 10px;
            //padding:10px;
        }

        .activites {
            width: 25%;
            height: 250px;
            background-color: aqua;
            margin: 25px;

        }

        .bien_etre {
            width: 100px;
            height: 250px;
            background-color: green;
            border-radius: 25%;
        }

        .liberte {
            //border: 1px solid red;
            width: 100px;
            height: 250px;
            background-color: purple;
        }
    </style> -->