<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link type="image/png" sizes="96x96" rel="icon" href="../static/img/favicon.png">
    <title>A propos</title>
    <!-- Import Javascript -->
    {% from "macros.html" import navigation, Footer, javascript %}
</head>

<header>
    <!-- Début Nav Bar -->
    {{ navigation() }}
    <!-- Fin nav bar -->

</header>

<body>
    <!-- L'idée -->
    <section class="Apropos">
        <h2 class="idee-title">L'idée</h2>
        <div class="content-wrapper">
            <div class="text-content">
                <p>Amoureux des chiens, en particulier des chiens actifs. Nous avons pratiqué différentes activités avec
                    nos chiens. En nous lançant dans ces différents sports, nous avons remarqué qu’il s’agit d’une petit
                    milieu et que beaucoup de propriétaires aimeraient que leur chien soit plus en forme et plus actif.
                </p>
                <p>C'est là que nous avons eu l'idée de créer un site web qui mettrait en relation les propriétaires de
                    chiens avec des éducateurs canins expérimentés. Anticipant une demande croissante, nous avons
                    veillons à améliorer les services que nous proposons en vous proposant une interface facile et
                    conviviale.</p>
                <p>Nous sommes fiers de participer au bien-être de votre animal et à l'impact positif que cela induit
                    entre les propriétaires et leurs chiens. Une manière de vous accompagner pour offrir à votre chien
                    une vie saine et heureuse.</p>
            </div>
            <img class="storytelling" src="static\img\storytelling_2.png" alt="storytelling_2">
        </div>
        <div class="equipe">
            <h2 class="content-title">Notre équipe</h2>
            <div class="content-olivia">
                <img class="storytelling_2" src="static\img\olivia.jpg" alt="olivia">
                <div class="text-content">
                    <p>
                        Olivia est une éducatrice canine expérimentée, spécialisée dans l'éducation des chiens seniors.
                        Avec une passion pour les animaux et une grande compréhension des besoins spécifiques des chiens
                        plus âgés, Olivia aide les propriétaires à maintenir une relation heureuse et saine entre leurs
                        chiens seniors et leur famille.<br> Son approche douce et patiente permet aux chiens seniors de
                        continuer à apprendre et à s'adapter à leur environnement, tout en maintenant leur dignité et
                        leur qualité de vie. Rejoignez Olivia aujourd'hui pour aider votre chien senior à vivre son
                        meilleur avenir.
                    </p>
                </div>
            </div>
            <div class="content-aurel">
                <div class="text-content">
                    <p>
                        Aurélien est un éducateur canin expérimenté et comportementaliste canin passionné. Avec
                        plusieurs années d'expérience dans le domaine, il a acquis une solide connaissance des
                        comportements canins et une expertise en matière de formation et de résolution de problèmes
                        comportementaux. Il a une
                        approche douce et positive pour enseigner aux chiens de tous âges et races, et travaille en
                        étroite collaboration avec les propriétaires pour les aider à construire une relation forte et
                        durable avec leur animal de compagnie.
                    </p>
                </div>
                <img class="storytelling_2" src="static\img\aurel.jpg" alt="aurel">
            </div>
        </div>
        <div class="content-hadrien">
            <img class="storytelling_2" src="static\img\hadri.jpg" alt="hadrien">
            <div class="text-content">
                <p>Hadrien est un éducateur canin expérimenté qui se spécialise dans la formation de chiots. Avec
                    plusieurs années d'expérience, il a acquis une solide connaissance des besoins et des comportements
                    des chiens. Il est passionné par son travail et adore voir les progrès de ses élèves canins. Hadrien
                    est patient, doux et créatif dans ses méthodes d'enseignement, ce qui lui permet de s'adapter à
                    chaque chiot individuel et de les aider à atteindre leur plein potentiel. Il est également déterminé
                    à travailler en étroite collaboration avec les propriétaires pour garantir le succès de leur
                    formation.</p>
            </div>
        </div>
        <div class="content-nicolas">
            <div class="text-content">
                <p>Nicolas est un éducateur canin expérimenté spécialisé dans les bergers allemands. Avec plusieurs
                    années d'expérience dans la formation de chiens de race, il a développé une solide connaissance des
                    besoins et des comportements de ces animaux. Grâce à sa patience et sa détermination, Nicolas est
                    capable de travailler avec les propriétaires pour aider leur chien à atteindre leur plein potentiel.
                    Il a une passion pour la formation et le développement de chiens heureux et bien éduqués, et il a
                    une excellente réputation dans la communauté canine pour ses résultats positifs.</p>
            </div>
            <img class="storytelling_2" src="static\img\nico.jpg" alt="nico">
        </div>
        </div>
        <div class="valeurs">
            <h2 class="apropos-title">Nos valeurs</h2>
            <div class="values">
                <p>Bien-être</p>
                <p>Liberté</p>
                <p>Activité</p>
            </div>
        </div>
        <div class="decouvrir">
            <h2 class="content-title">Découvrir</h2>
            <div class="test">
                <div class="img-container">
                    <img class="img-test" src="static\img\nos_services.png" alt="nos_services">
                    <div class="test-bouton">
                        <a class="button-reservation" href="services">Nos services</a>
                    </div>
                </div>
                <div class="img-container">
                    <img class="img-test" src="static\img\reservation.png" alt="reservation">
                    <div class="test-bouton">
                        <a class="button-reservation" href="reservation">Réservations</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mention-legales">
            <div class="mention-title">
                <h2 class="content-title">Mentions légales</h2>
            </div>
            <p>Medor Au Sport (c) collecte, classe & traite des donnèes personnelles fournies par les utilisateurs avec leur consentement. Ces actions sur les données sont à caractère commercial et qualitatif. La manipulation de ces données est exclusivement réservée à l'activité commerciale de Medor Au Sport (c). <br> <br> Les données sont sécurisées via un cryptage, et seront conservées pendant 3 ans à compter de la dernière utilisation du site. Vous disposez d'un droit d’accès, à la rectification, et à l’opposition de vos données personnelles. Contact : dpo@medorausport.com. <br> <br> Vous estimez, après nous avoir contactés, que votre demande n’a pas été satisfaite, vous avez la possibilité d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) ou de former un recours juridictionnel.</p>
        </div>
    </section>

    <!-- Script -->
    {{ javascript() }}
    <!-- Fin script -->
</body>
<!-- Section footer-->
{{ Footer() }}
<!-- Fin Footer -->

</html>