<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <!-- CSS Style -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
   {% from "macros.html" import navigation, javascript %}
</head>

<body>
   {{ navigation() }}
   <!-- Section barre_recherche-->
   <!-- Ensemble des élements pour la barre de recherche -->
   <div class="searchbar">
      <input class="barre" name="text" placeholder="Search..." type="search">
   </div>
   <!-- Section doghead-->
   <!-- Ensemble des élements pour les boutons "Profils des chiens" et "Reservation" -->
   <div class="doghead">

      <div>
         <a href="/apropos">
            <img src="{{ url_for('static', filename='picto/compteparticulier.png') }}" alt="profiltetechien"
               loading="lazy" class="reservation">
         </a>
         <button>
            Mon chien
            <div class="arrow-wrapper">
               <div class="arrow"></div>
            </div>
         </button>
      </div>
      <div>
         <a href="#">
            <img src="{{ url_for('static', filename='picto/reservation.png') }}" alt="reservation" loading="lazy"
               class="reservation">
         </a>
         <button>
            Réservation
            <div class="arrow-wrapper">
               <div class="arrow"></div>

            </div>
         </button>
      </div>
   </div>
   <!-- fin de la section DOGHEAD-->
   <!-- Section avis-->
   <h2 class="avis-title">Nos avis clients !<h2>
         <div class="avis-rubrique">
            <div class="avis-note">
               <img src="" alt="" loading="lazy" class="avis-pics">
               <img src="" alt="" loading="lazy" class="avis-stars">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, velit. Dolores sapien beatae
                  delectus reiciendis pariatur eveniet quasi blanditiis voluptate? Odit non eveniet aliquid facilis
                  doloribus accusantium incidunt quaerat voluptate?</p>
            </div>
            <div class="avis-note">
               <img src="" alt="" loading="lazy" class="avis-pics">
               <img src="" alt="" loading="lazy" class="avis-stars">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, velit. Dolores sapiente beatae
                  delectus reiciendis pariatur eveniet quasi blanditiis voluptate? Odit non eveniet aliquid facilis
                  doloribus accusantium incidunt quaerat voluptate?></p>
            </div>
            <div class="avis-note">
               <img src="" alt="" loading="lazy" class="avis-pics"><img src="" alt="" loading="lazy" class="avis-stars">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, velit. Dolores sapiente beatae
                  delectus reiciendis pariatur eveniet quasi blanditiis voluptate? Odit non eveniet aliquid facilis
                  doloribus accusantium incidunt quaerat voluptate?</p>
            </div>
            <div class="avis-note">
               <img src="" alt="" loading="lazy" class="avis-pics">
               <img src="" alt="" loading="lazy" class="avis-stars">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, velit. Dolores sapiente beatae
                  delectus reiciendis pariatur eveniet quasi blanditiis voluptate? Odit non eveniet aliquid facilis
                  doloribus accusantium incidunt quaerat voluptate?</p>
            </div>
         </div>
         <!-- Section compteur-->
         <div class="compteur">
            <div class="counter-un" id="counter-un">
               <p class=" my-nb">>Nombre de clients satisfaits : 653</p>
               <div class="image-container">
                  <img src="#" alt="Image 1">
               </div>
            </div>
            <div class="counter-deux">
               <p>Nombre de courses réalisées : 2871</p>
               <div class="image-container">
                  <img src="#" alt="Image 2">
               </div>
            </div>
            <!-- fin des compteurs (4 blocs)-->
            <!-- Section story -->
            <div class="histoire">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at nisi eu nisi tempor tristique.
                  Proin
                  dictum ante ac leo aliquam, id tempor velit gravida.</p>
            </div>
            <div class="block" id="block">
               <img src="#" alt="Image">
            </div>
            <!-- Section footer-->
            <footer>
               <p>Dernières annonces | ines@happudog.fr | Mentions légales | Conditions générales | Vie privée |</p>
               <div class="footer-avis">
                  <p>4.4 /5 (3653 avis)</p>
               </div>
               <div class="footer-networks">
                  <p>suivez-nous Instagram / Facebook</p>
               </div>
               <div class="Copyright"></div>
               <p>MEDORAUSPORT 2021-2026. TOUS DROITS RÉSERVÉS&copy; 2023</p>
            </footer>

{{ javascript() }}
</body>

</html>