<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Index</title>
   <!-- CSS Style -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
   <!-- Import Javascript -->
   {% from "macros.html" import navigation, Footer, javascript %}

</head>

<body id="index">
   {{ navigation() }}
   <img src="{{ url_for('static', filename='img/course.png') }}" loading="lazy" class="course">
   <h1 class="title-principal">Sport et bien-être pour votre chien !</h1>
   <!-- Section barre_recherche-->
   <!-- Ensemble des élements pour la barre de recherche -->
   <h2 class="searchbar-title">Votre chien mérite le meilleur</h2>
   <div class="searchbar">
      <input class="barre" name="text" placeholder="Search..." type="search">
   </div>
   <!-- Section doghead-->
   <!-- Ensemble des élements pour les boutons "Profils des chiens" et "Reservation" -->
   <div class="doghead">
      <div>
         <a href="/apropos">
            <img src="{{ url_for('static', filename='picto/compteparticulier.png') }}" alt="profiltetechien"
               loading="lazy" class="reservation"> <button><a href="/apropos">Mon chien</a>
               <div class="arrow-wrapper">
                  <div class="arrow"></div>
               </div>
            </button>
         </a>

      </div>
      <div>
         <a href="reservation">
            <img src="{{ url_for('static', filename='picto/reservation.png') }}" alt="reservation" loading="lazy"
               class="reservation"><button>
               Réservation
               <div class="arrow-wrapper">
                  <div class="arrow"></div>
               </div>
            </button>
         </a>

      </div>
   </div>
   <!-- fin de la section DOGHEAD-->
   <!-- Section avis-->
   <h2 class="avis-title">Nos clients partagent leur expérience à nos côtés !</h2>
   <div class="avis-rubrique">
      <div class="card" style="--rating:90">
         <img class="client" src="{{ url_for('static', filename='img/samantha.png') }}">
         <div class="title">Samantha B.</div>
         <p class="description">Eric a promené Max 2 durant un mois et tout s'est très bien passé.</p>
         <div class="rating"></div>
      </div>
      <div class="card" style="--rating:90">
         <img class="client" src="{{ url_for('static', filename='img/barnabe.png') }}">
         <div class="title">Barnabé F.</div>
         <p class="description">Le processus de recherche sur ce site web était simple et rapide, et je suis ravi
            d'avoir trouvé un éducateur canin exceptionnel grâce à lui.</p>
         <div class="rating"></div>
      </div>
      <div class="card" style="--rating:90">
         <img class="client" src="{{ url_for('static', filename='img/natacha.png') }}">
         <div class="title">Natacha L.</div>
         <p class="description">L'expérience d'utilisation de ce site web pour trouver un maître canin a été
            incroyablement fluide et agréable, et les maîtres canins</p>
         <div class="rating"></div>
      </div>
      <div class="card" style="--rating:90">
         <img class="client" src="{{ url_for('static', filename='img/clement.png') }}">
         <div class="title">Clément J.</div>
         <p class="description">Parfait ! Je recommande à 100%.</p>
         <div class="rating"></div>
      </div>
   </div>
   <!-- Section compteur-->
   <section class="sectionNumbers">
      <div class="sectionNumbers__item" id="sectionNumbers__item">
         <img src="{{ url_for('static', filename='img/chienpromene.png') }}" alt="Image 2" class="toutou">
         <div class="sectionNumbers__number number1">
         </div>
         <p>Nombre de courses réalisées : </p>
      </div>
      <div class="sectionNumbers__item">
         <img src="{{ url_for('static', filename='img/proprietairesatisfait.png') }}" alt="Image 1" class="toutou">
         <div class="sectionNumbers__number number2">
         </div>
         <p>Nombre de propriétaires satisfaits : </p>
      </div>
   </section>
   <!-- fin des compteurs (4 blocs)-->
   <!-- Section story -->
   <h2>Qui sommes-nous ?</h2>
   <div class="histoire">
      <p>Des passionnés d’animaux et en particulier des chiens!

         Lors de nos échanges avec notre entourage, nous avons remarqué que beaucoup de propriétaires de chiens
         souhaitent que leur compagnon soit plus actif et en meilleure forme physique. C'est alors que nous avons eu
         cette idée : créer un site web pour mettre en relation les propriétaires de chiens avec des éducateurs
         canins expérimentés pratiquant le cani cross, le bike joering, trotticaning, ski joering…

         …ainsi “Médor au sport”, vous permet de trouver facilement un éducateur adepte du bien-être de votre animal
         à travers le sport. Que vous soyez propriétaires de chiens ou éducateur canin, partagez votre passion pour
         le chien en alliant sport et bien-être canin.
      </p>
      <img src="{{ url_for('static', filename='img/story.png') }}" alt="Image" class="bigflo">
   </div>
   <!-- Section footer-->
   {{ Footer() }}
   <!-- Fin Footer -->

   <!-- Script -->
   {{ javascript() }}
   <!-- Fin script -->
</body>

</html>