{% macro navigation() %}
<div class="header">
    <!-- Ensemble des élements pour la barre de navigation et bouton de connexion -->
    <nav>
        <img src="{{ url_for('static', filename='picto/burger-menu.png') }}" alt="menu" id="burger-menu"
            class="burger-menu">
        <ul id="menu">
            <li><a class="lien-logomas" href="index"><img src="{{ url_for('static', filename='img/logomas.png') }}"
                        alt="logo" class="logomas"></a></li>
            <li><a href="index">Accueil</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="apropos">A propos</a></li>
            <li><a href="reservation">Réservation</a></li>
            <li><a href="contact">Contact</a></li>
            <li><button><span class="log"> Connexion</span></button></li>
        </ul>
    </nav>
</div>

{% endmacro %}

{% macro Footer() %}
<footer>
    <p>Contact@medorausport.fr | Mentions légales | Conditions générales |</p>
    <div class="footer-number">
        <p>06 62 41 96 21</p>
    </div>
    <div class="footer-networks">
        <p>Instagram / Facebook</p>
    </div>
    <div class="Copyright"></div>
    <p>&copy;MEDORAUSPORT 2021-2026. TOUS DROITS RÉSERVÉS</p>
</footer>
{% endmacro %}

{% macro javascript() %}
<script type="text/javascript" src="static\JS\script.js"></script>
{% endmacro %}