<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,
      initial-scale=1.0">
  <title>Services</title>
  <!--CSS STYLE-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link type="image/png" sizes="96x96" rel="icon" href="../static/img/favicon.png">
  <!--FAVICON-->

  <!-- Import Javascript -->
  {% from "macros.html" import navigation, Footer, javascript %}
</head>

<body>

  <!--NAVBAR-->
  {{ navigation() }}
  <!-- Image page -->
  <section class="service">
    <div class="service-title">Canicross</div>
    </div>
    <form action="recherche.php" method="get">
      <!-- Activite-->
      <h3 class="service-title2">Canicross</h3>
      <div class="Course">
        <p class="service-p">Le canicross est une course à pied avec un chien en laisse. Cette activité améliore le bien-être du chien
          grâce à l'exercice physique et à la collaboration avec son propriétaire ou l’éducateur canin. Les courses de
          canicross sont adaptées à tous les niveaux de condition physique et peuvent se dérouler sur des terrains
          variés (sentiers de montagne, chemins forestiers..). Sans limite d’âge, c’est un moyen idéal de faire vivre
          une expérience sportive unique à votre chien.</p>
        <img class="service-img" src="../static/img/course.png" alt="" href="">
        <a class="button-reservation" href="reservation">Réservations</a>
      </div>

      <h2 class="service-title">Dogsitting</h2>
      <div class="Dogsitting">
        <h3 class="service-title2">Dogsitting</h3>

        <p class="service-p">Besoin d'un mode de garde pour votre animal de compagnie pendant votre absence? Le dogsitting est la solution
          idéale. Avec le dogsitting, un gardien expérimenté prend soin de votre chien en votre absence, en s'occupant
          de ses besoins quotidiens tels que la nourriture, l'eau, les promenades, les jeux et les soins médicaux
          éventuels. Optez pour le dogsitting pour garantir le bien-être de votre animal de compagnie pendant votre
          absence."</p>
        <img class="service-img" src="../static/img/dogsitting.png" alt="dogsitting" href="">
        <a class="button-reservation" href="reservation">Réservations</a>
      </div>

      <h2 class="service-title">Trotticani</h2>
      <div class="Trotticani">
        <h3 class="service-title2">Trotticani</h3>

        <p class="service-p">Découvrez l'activité sportive originale pour vous et votre animal de compagnie ! Cette activité consiste à se
          déplacer sur une trottinette tout en faisant courir votre chien à côté de vous, en utilisant une laisse
          spécialement conçue pour la sécurité de votre animal. Le canitrotinette renforce les liens entre vous et votre
          chien tout en vous permettant de faire de l'exercice ensemble. Cette activité peut être pratiquée à
          l'extérieur sur des terrains plats et peu accidentés. Amusez-vous et gardez la forme avec votre animal de
          compagnie grâce à la canitrotinette. Essayez dès maintenant !</p>
        <img class="service-img" src="../static/img/trotticani.png" alt="trotticani" href="">
        <a class="button-reservation" href="reservation">Réservations</a>      </div>

      <h2 class="service-title">VTT</h2>
      <div class="VTT">
        <h3 class="service-title2">VTT</h3>

        <p class="service-p">VTT avec son chien : l'expérience de montagne unique pour vous et votre animal de compagnie ! Partez à
          l'aventure sur les sentiers de montagne avec votre chien grâce à cette activité sportive passionnante. Le VTT
          avec son chien renforce les liens entre vous et votre animal tout en permettant à votre chien de courir et de
          nager dans de nouveaux environnements. Ce sport peut être pratiqué par tous les propriétaires de chiens, peu
          importe leur race ou leur taille, mais il est important de s'assurer que votre animal est en bonne condition
          physique et entraîné à courir avec un vélo. Commencez dès à présent !</p>
        <img class="service-img" src="../static/img/VTT.png" alt="vtt" href="">
        <a class="button-reservation" href="reservation">Réservations</a>      </div>

      <h2 class="service-title">Ski joering</h2>
      <div class="Skijoering">
        <h3 class="service-title2">Ski joering</h3>

        <p class="service-p">Le ski joering est une activité sportive consistant à faire du ski tout en tirant des chiens attachés à une
          longe.Toutes les races de chiens peuvent participer à cette activité hivernale, à condition d'avoir une bonne
          forme physique et d'avoir suivi une formation pour le ski joering. Offrant une expérience unique pour les
          amoureux des chiens et du ski, le ski joering est une activité à ne pas manquer pour les propriétaires de
          chiens.</p>
        <img class="service-img" src="../static/img/skijoering.png" alt="skijoering" href="">
        <a class="button-reservation" href="reservation">Réservations</a>      </div>

      <h2 class="service-title">Dressage</h2>
      <div class="dressage">
        <!-- Dressage -->
        <h3 class="service-title2">Dressage</h3>
        <img class="service-img" src="../static/img/dressage.png" alt="dressage" href="">
        <p class="service-p">Le dressage de chien est un processus éducatif pour enseigner des comportements spécifiques à votre animal de
          compagnie. C’est une étape importante pour renforcer votre lien avec votre chien et améliorer son comportement
          qui peut être effectuée par des professionnels du dressage de chiens ou par vous-même à la maison avec une
          approche positive basée sur les récompenses. Le dressage efficace nécessite de la patience, de l'engagement et
          un évitement de la violence pour obtenir les meilleurs résultats. Améliorez votre relation avec votre chien
          grâce au dressage de chien.</p>
        <!-- Calendrier -->



        <!-- Conseil -->
        <img class="service-img" src="../static/img/conseil_chien_sport.png" alt="conseilchienetsport" href="">
        <p> Avant toute inscription, n’hésitez pas à consulter votre vétérinaire pour assurer la santé et la sécurité de
          votre animal. Il pourra effectuer un examen complet et déterminer si votre chien est en bonne santé et en
          capacité de participer à une activité physique. Il pourra également vous fournir d’autres conseils tels que
          les activités les plus adaptées à votre compagnon, les précautions à prendre ou les régimes alimentaires à
          adopter.</p>
      </div>
      <!-- Bouton "Remonter en haut de la page / retour au menu") -->
      <div id="scroll_to_top">
        <a href="#top"><img src="../static/img/gotop.png" alt="Retourner en haut" /></a>
      </div>
  </section>

  <!-- Script  -->
  {{ javascript() }}
  <!-- Fin script -->
</body>
<!-- Section footer-->
{{ Footer() }}
<!-- Fin Footer -->

</html>